<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="#07a8ed">Limpieza y transformaci칩n de datos 游냪</font>**

<p align="justify">
Durante el transcurso del an치lisis y el modelado de datos, una cantidad significativa de tiempo es dedicada a la preparaci칩n de datos: carga, limpieza, y transformaci칩n. A menudo se informa que tales tareas ocupan el $80$% o m치s del tiempo de un analista.<br><br> A veces, la forma en que se almacenan los datos en archivos o bases de datos no tiene el formato correcto para una tarea en particular. Muchos investigadores optan por realizar un procesamiento de datos en un lenguaje de programaci칩n de prop칩sito general, como lo es <code>Python</code>.<br><br> Afortunadamente <code>Pandas</code> junto con las caracter칤sticas integradas del lenguaje <code>Python</code> proporciona un conjunto de herramientas flexiblea y de alto nivel que permite manipular los datos en la forma correcta.
</p>

<p align="justify"> 游 Por convenci칩n, as칤 se importa <code>Pandas</code>:  </p>

In [ ]:
import numpy as np
import pandas as pd

 # **<font color="#07a8ed">Manejo de datos faltantes</font>**

<p align="justify">
La falta de datos ocurre com칰nmente en muchas aplicaciones de an치lisis de datos. Todas las estad칤sticas descriptivas de los objetos <code>Pandas</code> excluyen los datos faltantes de forma predeterminada. La forma en que se representan los datos faltantes en los objetos <code>Pandas</code> es algo imperfecta, pero suficiente para la mayor칤a de los casos del mundo real.</p>

<p align="justify"> 游 Vamos a traer un conjunto de datos de la web.
</p>

In [ ]:
##import lxml
##import bs4
##import html5lib

In [ ]:
URL = "https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp"
recaudacion = pd.read_html(URL, encoding='ISO-8859-1')
df = recaudacion[0]
df

/usr/local/lib/python3.10/dist-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Totales,194971954,193952469,191847483,268899328,371815788,477322798,663800674,787365481,1039105942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape ## filas y columnas

(15, 251)

In [ ]:
 df.size  ## tama침o del dataset

3765

## Muestras Aleatorias

In [ ]:
df_muestra = df.sample(5)  ## muestra aleatoria de 5 filas
df_muestra

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
5,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710

In [ ]:
df_sample.shape

(5, 251)

In [ ]:
df_sample.size

1255

In [ ]:
5* 25

125

<p align="justify"> 游 <code>Pandas</code> usa el valor de coma flotante <code>NaN</code>, que no es un n칰mero, para representar los datos que faltan. El m칠todo <code>isna()</code> nos da una serie booleana con <code>True</code> para los valores nulos.
</p>

In [ ]:
df.isna().head()  ## Detectar valores faltantes.

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

<p align="justify"> 游 En <code>Pandas</code> se adopta por convenci칩n decirles a los datos faltantes, datos no disponibles, los <code>NA</code>. En  aplicaciones estad칤sticas, los datos no disponibles pueden ser datos que no existen o que existen pero no se observaron (debido a problemas con la recopilaci칩n de datos, por ejemplo un valor desconocido en una encuesta).<br><br> Al limpiar los datos para el an치lisis, a menudo es importante estudiar los datos faltantes para identificar los problemas de recopilaci칩n de datos o posibles sesgos en los datos causados 긇or los datos faltantes. <br><br>El valor integrado <code>None</code> de <code>Python</code> tambi칠n se trata como dato no disponible. <code>Pandas</code> ha intentado que el trabajo con datos no disponibles sea coherente en todos los tipos de datos.
</p>

<p align="justify"> 游 Algunas funciones relacionadas con el manejo de datos no disponibles:
<ul>
<li><code>dropna()</code> filtra las etiquetas de los ejes en funci칩n de si faltan datos en los valores de cada etiqueta, con distintos umbrales para la cantidad de datos faltantes que se deben tolerar</li>
<li><code>fillna()</code> completa los datos faltantes con alg칰n valor predeterminado o utilizando alg칰n m칠todo</li>
<li><code>isna()</code> devuelve valores booleanos que indican qu칠 valores faltan</li>
<li><code>notna()</code> negaci칩n de <code>isna()</code></li>
</ul>
</p>

 ## **<font color="#07a8ed">Filtrado de datos faltantes</font>**

<p align="justify">
Hay algunas formas de filtrar los datos que faltan, como por ejemplo <code>dropna()</code>. Esta funci칩n devuelve el objeto solo con los datos no nulos y sus respectivos valores de 칤ndice.
</p>

In [ ]:
df.dropna().head()  ##  Detectar valores faltantes.

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos

In [ ]:
df.isna().head() ## Detectar valores existentes (no faltantes).

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
df.notna().head()  ## negacion de isna

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(15, 251)

In [ ]:
df.dropna(axis=1, how="any", inplace=True)  ## dropna  cualquiera valores na
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558

In [ ]:
df.shape

(15, 25)

<p align="justify"> 游 Si se desea mantener por ejemplo, filas que contienen como m치ximo un cierto n칰mero de datos faltantes, entonces se puede indicar con el par치metro <code>thresh</code>.

 ## **<font color="#07a8ed">Rellenado de datos faltantes</font>**

<p align="justify"> En lugar de filtrar datos faltantes, y tal vez descartar otros datos junto con ese filtrado, es posible rellenarlos de varias maneras. El m칠todo <code>fillna()</code> es el m치s utilizado en <code>Pandas</code>. Utilizar <code>fillna()</code> con una constante reemplaza los valores faltantes con ese valor establecido como constante.

In [ ]:
recaudacion = pd.read_html(URL, encoding='ISO-8859-1')  ## creacion de dataFrama de URL
df = recaudacion[0]
df.head()

/usr/local/lib/python3.10/dist-packages/bs4/__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.fillna(0).head() ## llenar columnas faltantes

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,0,0,0,0,0,0,0,0,0,0
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,0,0,0,0,0,0,0,0,0,0
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,0,0,0,0,0,0,0,0,0,0
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,0,0,0,0,0,0,0,0,0,0

<p align="justify"> 游 Usando <code>fillna()</code> con un diccionario, se puede establecer un valor de relleno diferente para cada columna indicada en el diccionario.

In [ ]:
df.fillna({231:0, 232:0.5, 233:1, 234:1.5}).head() ## rellena con diccionario de columna y valor

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify"> 游 Algunos par치metros
<ul>
<li><code>value()</code> valor u objeto similar a un diccionario para completar los valores que faltan</li>
<li><code>method()</code> m칠todo de interpolaci칩n <code>bfill</code> rellena hacia atr치s, <code>ffill</code> rellena hacia adelante, y por defecto el valor establecido es <code>None</code></li>
<li><code>axis()</code> eje para rellenar, siendo filas o columas el valor indicado</li>
<li><code>limit()</code> para el llenado hacia adelante y hacia atr치s, es el  n칰mero m치ximo de per칤odos consecutivos para llenar</li>
</ul>
</p>

 # **<font color="#07a8ed">Transformaci칩n de datos</font>**

 ## **<font color="#07a8ed">Eliminaci칩n de duplicados</font>**

<p align="justify">
El m칠todo <code>duplicated()</code> devuelve una serie booleana que indica si cada fila de un <code>DataFrame</code> es un duplicado (sus valores de columna son exactamente iguales a los de una fila anterior) o no lo es.
</p>

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

<p align="justify"> 游 En este caso no tenemos duplicados en el <code>DataFrame</code>, pero si los hubiera, se podr칤an eliminar con el m칠todo <code>drop_duplicates()</code>. Ambos m칠todos por defecto consideran todas las columnas, pero como alternativa, se puede especificar cualquier subconjunto de ellos para detectar duplicados.

 ## **<font color="#07a8ed">Transformar datos usando una funci칩n o mapeo</font>**

<p align="justify"> Para muchos conjuntos de datos, es posible realizar alguna transformaci칩n basada en los valores de una matriz, serie o columna en un <code>DataFrame</code>.

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Totales,194971954,193952469,191847483,268899328,371815788,477322798,663800674,787365481,1039105942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.dropna(axis=1, how="any", inplace=True)  ###
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558

<p align="justify"> 游 Supongamos que deseamos agregar una columna que indique con n칰meros el mes resultante de la columna Meses. Previo a ello, vamos a poner nombres de columnas y eliminar el indice cero.

In [ ]:
df.columns = df.iloc[1]  # ubicacion [1]
df.columns.name = None  ## nombres de columnas
df.drop([0,1], axis=0, inplace=True) ## borro fila, en fila
df.reset_index(drop=True, inplace=True)  ## reseteo
df = df.query("Meses != 'Totales'")   ## filtro en columna meses reseteo
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
df.tail()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852

<p align="justify"> 游 El m칠todo <code>map()</code> en una serie acepta una funci칩n o un objeto similar a un diccionario que contiene un mapeo para hacer la transformaci칩n de valores que estamos requiriendo.

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
df.tail()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852

In [ ]:
Mes = {"Enero":1, "Febrero":2, "Marzo":3, "Abril":4, "Mayo":5, "Junio":6,
       "Julio":7, "Agosto":8, "Septiembre":9, "Octubre":10, "Noviembre":11, "Diciembre":12}

In [ ]:
df.Meses = df.Meses.map(Mes)  ### reemplazo columna meses por el mapeo de meses con el diccionario
df.head()

<ipython-input-30-e94e219755c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Meses = df.Meses.map(Mes)  ### reemplazo columna meses por el mapeo de meses con el diccionario

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

<p align="justify"> 游 Otra forma:

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
Meses = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio",
         7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [ ]:
def meses(x):  ### funcion de meses
    return Meses[x]

In [ ]:
df.Meses = df.Meses.map(meses)
df

<ipython-input-34-b28d5c6a397e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Meses = df.Meses.map(meses)

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844
5,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650
6,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943,22575360462
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852

<p align="justify"> 游 Otra forma:

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
Mes = {"Enero":1, "Febrero":2, "Marzo":3, "Abril":4, "Mayo":5, "Junio":6,
       "Julio":7, "Agosto":8, "Septiembre":9, "Octubre":10, "Noviembre":11, "Diciembre":12}

In [ ]:
df.Meses = df.Meses.map(lambda x: Mes[x])
df

<ipython-input-37-0548be1d14c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Meses = df.Meses.map(lambda x: Mes[x])

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844
5,6,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650
6,7,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943,22575360462
7,8,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
8,9,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
9,10,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
10,11,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484
11,12,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852

 ## **<font color="#07a8ed">Sustituci칩n de datos</font>**

<p align="justify"> Completar los datos que faltan con el m칠todo <code>fillna()</code> es un caso especial de reemplazo general. Como hemos visto, <code>map()</code> se puede usar para modificar un subconjunto de valores en un objeto, pero <code>replace()</code> proporciona una forma m치s simple y flexible de hacerlo.

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844

In [ ]:
Meses = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio",
         7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [ ]:
df.replace(Meses, inplace=True)
df

<ipython-input-40-a03cddbe46b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(Meses, inplace=True)

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844
5,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650
6,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943,22575360462
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852

 ## **<font color="#07a8ed">Discretizaci칩n</font>**

<p align="justify"> Los datos continuos a menudo se discretizan o se separan en "contenedores" para su an치lisis. Supongamos que tenemos datos sobre un grupo de personas en un estudio comercial y deseamos agruparlos en grupos de edad discretos

In [ ]:
edad = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

<p align="justify"> 游 Divid치moslos en grupos de 18 a 25, de 26 a 35, de 36 a 60 y, finalmente, de 61 a침os o m치s. Para hacerlo, tenemos que usar <code>cut()</code>

In [ ]:
contenedores = [18, 25, 35, 60, 100]

In [ ]:
categorias = pd.cut(edad, contenedores) ## pandas metodo cut contenedores

In [ ]:
categorias

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

<p align="justify"> 游 Cada contenedor se identifica mediante un tipo de valor de intervalo especial que contiene el l칤mite inferior y superior de cada contenedor

In [ ]:
pd.value_counts(categorias)

<ipython-input-45-65ee92333a2a>:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(categorias)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

In [ ]:
categorias.value_counts()

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

<br>
<br>
<p align="center"><b>
游눙
<font color="#07a8ed">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>